@use "../_utils/utils" as *;

/// -----------------------------------------------------------------------------
/// 🟢 Root Tokens
///
/// This file holds the root variables used in this project that will be required
/// on a specific case scenario. The 95% of the project will rely on SCSS Variables
/// that will be located in the `_utils` folder under the `_tokens.scss` file.
///
/// @author Leighton Quito (iamleigh.com)
/// -----------------------------------------------------------------------------
:root {
	// Breakpoints
	--breakpoint: #{$bp-md};

	// Color Palette: Primary
	--color-primary: #{$color-primary};
	--color-primary-light: #{$color-primary-light};
	--color-primary-dark: #{$color-primary-dark};

	// Color Palette: Secondary
	--color-secondary: #{$color-secondary};
	--color-secondary-light: #{$color-secondary-light};
	--color-secondary-dark: #{$color-secondary-dark};

	// Color Palette: Monochromatic
	--color-mono: #{$color-mono};
	--color-mono-light: #{$color-mono-light};
	--color-mono-dark: #{$color-mono-dark};

	// Font
	--font-size: #{$font-size-base-sm};
	--font-family: #{$font-family};

	// Sidebar
	--sidebar-width: #{$sidebar-width};

	@include bp(min-width, md) {
		// Font
		--font-size: #{$font-size-base-md};
	}
}
